.taskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    margin-top: 1.5rem;

    background: var(--gray-500);
}

.taskContainer+.taskContainer {
    margin-top: 0.75rem;
}

.taskContent {
    display: flex;
    align-items: center;

    gap: 0.75rem;
}

.taskContent input {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--blue-300);
    border-radius: 9999;
}

.deleteButton {
    background: transparent;
    border: 0;
    color: var(--gray-300);

    height: 1.5rem;
    width: 1.5rem;

    cursor: pointer;

    line-height: 0;
    border-radius: 4px;
}

.deleteButton:hover {
    color: var(--red-500);
}