.taskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    margin-top: 1.5rem;

    background: var(--gray-500);
}

.taskContainer+.taskContainer {
    margin-top: 0.75rem;
}


.taskContent label {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.75rem;
    cursor: pointer;
}

.taskContent input[type="checkbox"] {
    display: none;
}

.taskContent input[type="checkbox"]+label:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    background-color: var(--gray-500);
    border: 2px solid var(--blue-500);
}

.taskContent input[type="checkbox"]:checked+label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    border: none;
    padding: 2px;
    background-color: var(--purple-500);

    text-decoration: line-through
}

.taskContent input[type="checkbox"]:checked+label {
    color: var(--gray-300);
    text-decoration: line-through
}

.deleteButton {
    background: transparent;
    border: 0;
    color: var(--gray-300);

    height: 1.5rem;
    width: 1.5rem;

    cursor: pointer;

    line-height: 0;
    border-radius: 4px;
}

.deleteButton:hover {
    color: var(--red-500);
}